
<ion-content fullscreen>

  <div class="logo">
    <img src="/assets/logo.jpeg" alt="center" > 
  </div>
 
    
    <ion-card-content>
      <form (ngSubmit)="login()" [formGroup]="authGroup">
        <ion-item>
          <ion-label position="stacked">CPF</ion-label>
          <ion-input required type="text" name="cpf" placeholder="CPF" (keyup)="removerErro()" formControlName="username"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="erro.cpf">CPF incorreto</ion-text>
        <ion-item>
          <ion-label position="stacked">Senha</ion-label>
          <ion-input required type="password" placeholder="Senha" name="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="erro.senha">Senha incorreta</ion-text>
        <div class="ion-padding">
          <ion-button expand="block" type="submit" color="success" class="ion-no-margin" [disabled]="!authGroup.valid">Entrar</ion-button>
        </div>
      </form>
    </ion-card-content>

</ion-content>
