<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Clinicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spin">
    <ion-spinner *ngIf="!loaded"></ion-spinner>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="loaded">
          <ion-item-divider sticky>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-searchbar
                    #pesquisaSearchbar
                    (ionChange)="pesquisa($event)"
                    placeholder="Pesquisar..."
                  ></ion-searchbar>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-select interface="popover" value="nome" [formControl]="tipoFiltro">
                    <ion-select-option value="nome">Nome</ion-select-option>
                    <ion-select-option value="procedimento"
                      >Procedimento</ion-select-option
                    >
                    <ion-select-option value="especialidade"
                      >Especialidade</ion-select-option
                    >
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-select
                    interface="popover"
                    value="selecione"
                    [formControl]="estadoFiltro"
                    [compareWith]="compararEstados"
                  >
                    <ion-select-option disabled="true" value="selecione"
                      >Estado</ion-select-option
                    >
                    <ion-select-option [value]="{ nome: 'todos' }"
                      >Todos</ion-select-option
                    >
                    <ion-select-option
                      *ngFor="let estado of estados"
                      [value]="estado"
                      >{{ estado.nome }}</ion-select-option
                    >
                  </ion-select>
                </ion-col>
                <ion-col size="6">
                  <ion-select
                    interface="popover"

                    [formControl]="cidadeFiltro"
                    [compareWith]="compararCidades"
                  >
                    <ion-select-option value="selecione" disabled="true"
                      >Cidade</ion-select-option
                    >
                    <ion-select-option [value]="{ nome: 'todos' }"
                      >Todos</ion-select-option
                    >

                    <ion-select-option
                      *ngFor="let cidade of cidades"
                      [value]="cidade"
                      >{{ cidade.nome }}</ion-select-option
                    >
                  </ion-select>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item *ngFor="let clinica of filtros" button detail="false" (click)="selecionarProcedimento(clinica)">
            <ion-label stacked>{{ clinica.name }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
