<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="fechar()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="titulo">{{cliente.name}}</h2>

  <ion-list>
    <ion-item *ngFor="let procedimento of historico" button detail="false">
      <div slot="start">
      <ion-label position="stacked">{{ procedimento.procedimento.nome }}</ion-label>
      <ion-label position="stacked">{{ procedimento.dataCompra }} </ion-label>
    </div>
      <div slot="end" >
        <ion-label style="display: inline;">{{ "R$" + procedimento.procedimento.valor }}</ion-label>
        <ion-button color="danger" *ngIf="!procedimento.pago; else pagoBlock" (click)="alterarPagamento(procedimento.id)">
          <ion-icon name="close"></ion-icon>
        </ion-button>
        <ng-template #pagoBlock>
        <ion-button color="success"  (click)="alterarPagamento(procedimento.id)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
      </ng-template>
      </div>
      
    </ion-item>
  </ion-list>
</ion-content>
